@use '../custom' as *; //* remove the name space
@use '../components/mixin' as *; //import mixin.scss

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}